mkl
tensorboard
matplotlib
lpips
git+https://github.com/tinyobjloader/tinyobjloader.git@v2.0.0rc8#subdirectory=python
pyexr
pybind11
pyyaml
trimesh>=3.0
pandas
tqdm
Pillow
scipy>=1.7.2
scikit-image
scikit-learn
six>=1.12.0
moviepy
opencv-python
plyfile
protobuf>=3.20.0
polyscope
more_itertools
Futureproof
IPython
pyarrow
fastparquet
PyDispatcher
pynvml
setuptools==59.5.0
wandb>=0.13.5
pytest>=7.1.0